<!-- <div class="container">


  <h1>Recipes</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>User</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @recipes.each do |recipe| %>
        <tr>
          <td><%= recipe.title %></td>
          <td><%= recipe.user.email %></td>
          <td><%= link_to 'Show', recipe %></td>
          <% if recipe.user == current_user %>
            <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
            <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Recipe', new_recipe_path %>

</div>
 -->



<!-- Testing hover effect -->
<!-- <div class="container">
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
    <img class="img-responsive" src="http://www.foodanddine.com/wp-content/uploads/2016/05/Pizza-capricciosa.jpg" alt="">
    <div class="overlay">
       <h2>Recipe Name</h2>
       <a class="info" href="#">Recipe</a>
    </div>
    </div>
  </div>
</div> -->

<!-- <div class="container">
  <div class="card-columns">
    <% @recipes.each do |recipe| %>
      <div class="card card-block">
        <h4 class="card-title"><%= recipe.title %></h4>
        <p class="card-text"><%= recipe.user.email %></p>
      </div>
    <% end %>
  </div>
</div> -->


<!-- <div class="container">
  <div class="card-deck-wrapper">
    <% @recipes.each do |recipe| %>
      <div class="card-deck">
          <div class="card">
            <div class="card-block">
              <div class="hovereffect">
                <img class="img-responsive" src="http://www.foodanddine.com/wp-content/uploads/2016/05/Pizza-capricciosa.jpg" alt="">
                <%= image_tag recipe.image, class: "img-responsive", size: "700x200" %>
                <div class="overlay">
                  <h2><%= recipe.title %></h2>
                  <a class="info" href="#">Recipe</a>
                </div>
              </div>
            </div>
          </div>  
      </div>
    <% end %>
  </div>
</div> -->

<!-- <div class="container">
  <div class="card-deck-wrapper">
    <div class="card-deck">
      <% @recipes.each do |recipe| %>
        <div class="card card-block">
          
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
              <div class="flipper">
                <div class="front">
                  <%= image_tag recipe.image, class: "img-responsive", size: "100x100" %>
                </div>
                <div class="back">
                  Bye
                </div>
              </div>
            </div>
          
        </div>
      <% end %>
    </div>    
  </div>
</div> -->

<div class="container">
  <div>
    <% if user_signed_in? %>
        <center><%= link_to 'New Recipe', new_recipe_path, class: "btn btn-danger" %></center>
    <% else %>
        <center><%= link_to 'New Recipe', signin_path, class: "btn btn-danger" %></center>
    <% end %>
  </div>
  <div>
    <% @recipes.each_slice(3) do |recipes| %>
      <row>
        <% recipes.each do |recipe| %>
          <div class="col-md-4">
            <div class="hovereffect">
                <%= image_tag recipe.image, class: "img-responsive", size: "320x320" %>
                <div class="overlay">
                   <h2><%= recipe.title %></h2>
                   <a><%= link_to 'Recipe', recipe, class: "info" %></a>
                </div>
                </div>
          </div>
        <% end %>
      </row>
    <% end %>
  </div>  
</div>