<% if user_signed_in? %>
    <div class="jumbotron jumbotron-home">
        <h2 class='welcome-header'>Welcome back!<h2>
    </div> 
<% else %>
    <div class="jumbotron jumbotron-home">
        <div class="welcome-header">
                <h1>Welcome!</h1>
                <p>Are you looking to kill some time? Congratulations! You've just come to the right place....</p>
          <!--       <%= link_to "Learn more »", "#", class: "btn btn-primary btn-lg" %> -->
            
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="cliente">
                    <div class="cliente-text">
                        <h2>GiphyTV</h2>
                        <%= image_tag("giphy.gif", :alt => "Giphy", class: "teaser-img") %>
                        <p>Search the most funniest Gifs and watch them getting streamed like on a TV!</p>
                        <p><%= link_to "View details", signin_path, class: "btn btn-secondary" %></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="cliente">
                    <div class="cliente-text">
                        <h2>SoundCloud</h2>
                        <%= image_tag("soundcloud.jpg", :alt => "Giphy", class: "teaser-img") %>
                        <p>Play your favorite music from SoundCloud and manage your own PlayList!</p>
                        <p><%= link_to "View details", signin_path, class: "btn btn-secondary" %></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="cliente">
                    <div class="cliente-text">
                        <h2>Search away....</h2>
                        <%= image_tag("yelp.png", :alt => "Giphy", class: "teaser-img") %>
                        <p>How about we search something random nearby!</p>
                        <p><%= link_to "View details", signin_path, class: "btn btn-secondary" %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %> 